[submodule "packages/rispa-babel"]
	path = packages/rispa-babel
	url = ""
[submodule "packages/rispa-tslint-config"]
	path = packages/rispa-tslint-config
	url = https://github.com/rispa-io/rispa-tslint-config.git
[submodule "packages/rispa-react-config"]
	path = packages/rispa-react-config
	url = https://github.com/rispa-io/rispa-react-config.git
[submodule "packages/rispa-ui-kit"]
	path = packages/rispa-ui-kit
	url = https://github.com/rispa-io/rispa-ui-kit.git
[submodule "packages/rispa-render-client"]
	path = packages/rispa-render-client
	url = https://github.com/rispa-io/rispa-render-client
